@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-BoldCondensed.woff') format('woff'), url('../fonts/Roboto-BoldCondensed.ttf')  format('truetype'), url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Condensed.woff') format('woff'), url('../fonts/Roboto-Condensed.ttf')  format('truetype'), url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: 400;
  font-style: normal;
}

body{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 15px;
	line-height:1.4;
    letter-spacing: 0.05em;
	color: rgb(0, 0, 0);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'Roboto'; 
    font-size: 18px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

.between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*header*/

header {
    background: #202223;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.phone {
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*main_screen*/

.main_screen {
    background: rgb(0, 0, 0);
    padding: 50px 0;
}

.main_screen .banner {
    box-sizing: border-box;
    border: 5px solid rgb(255, 216, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: rgb(255, 255, 255);
    max-width: 742px;
}

.main_screen .banner h1 {
    font-size: 30px;
    font-weight: 700;
    max-width: 570px;
}

.main_screen .banner .certificate {
    font-size: 18px;
}

.button {
    display:inline-block;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 216, 0);
    width: 276px;
    height: 45px;
    line-height: 45px;
}

/*advantages_screen*/

.advantages_screen {
    padding: 50px 0;
}

.advantages_screen .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.advantages_screen .certificate {
    background: red;
    width: 300px;
    height: 200px;
}

.advantages {
    flex: 1;
}

.advantages_caption {
    font-size: 22px;
}

.advantages_caption span {
    background: #ffd800;
}

.advantages_wr {
    display: flex;
    flex-wrap: wrap;
}

.advantages_wr .advantage {
    box-sizing: border-box;
    width: 33.3333%;
}

.advantages_wr .advantage .icon {
}

.advantages_wr .advantage .text1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.advantages_wr .advantage .text2 {
    font-size: 15px;
}

/*branches_screen*/

.branches_screen {
    background: black;
    padding: 50px 0;
}

.caption {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
}

.document {
    font-size: 18px;
    color: rgb(255, 216, 0);
    text-align: center;
}

.branches_screen .branches {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.branches_screen .branch {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 10px;
}

.branches_screen .branch_wr {
    background: #ffffff;
}

.branches_screen .branch_name {
    display: flex;
    height: 85px;
    border-bottom: 1px solid #e4e4e4;
}

.branches_screen h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.333;
    padding: 0 20px;
    margin: auto 0;
}

.branches_screen .links {
    padding: 20px;
}

.branches_screen a {
    display: block;
    font-size: 15px;
    color: rgb(0, 101, 179);
    padding: 5px 0;
}

.branches_screen .button {
    color: rgb(0, 0, 0);
    padding: 0;
}

/*form_screen*/

.form_screen .advantages {
    margin: auto 0;
}

.form_screen .form {
    box-sizing: border-box;
    border: 5px solid rgb(255, 216, 0);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 50px;
    max-width: 415px;
}

.form_screen .form .form_caption {
    font-size: 30px;
    font-family: "ProximaNovaExCn";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
}

.form_screen .form .wpcf7-form-control-wrap {
    display: block;
    margin: 13px 0;
}

.form_screen .form .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
    height: 56px;
    width: 100%;
    font-size: 20px;
    font-family: "ProximaNovaExCn";
    font-weight: 400;
    color: rgb(131, 131, 131);
    text-transform: uppercase;
    outline: none;
    padding: 10px 20px;
}

.form_screen .form input:not([type=submit]):focus {
	border: 1px solid #000082;
}

.form_screen .button {
    width: 100%;
}

/*license_screen*/

.license_screen {
    background: black;
    padding: 50px 0;
}



/*contacts_screen*/

.contacts_screen {
    background: #ffd800;
    padding: 100px 0;
}

.contacts_screen .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.contacts_screen .contact {
    width: 33.3333%;
}

.contacts_screen .contact. .icon {
}

.contacts_screen .contact .text1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.contacts_screen .contact .text2 {
    font-size: 18px;
    text-align: center;
}

/*map_screen*/

.map_screen {
    height: 345px;
}

/*footer*/

footer {
    background: #202223;
    padding: 15px 0;
}

footer .sitename {
    font-size: 18px;
    color: rgb(255, 255, 255);
}
