@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-BoldCondensed.woff') format('woff'), url('../fonts/Roboto-BoldCondensed.ttf')  format('truetype'), url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Condensed.woff') format('woff'), url('../fonts/Roboto-Condensed.ttf')  format('truetype'), url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: 400;
  font-style: normal;
}

body{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 15px;
	line-height:1.4;
    letter-spacing: 0.05em;
	color: rgb(0, 0, 0);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'Roboto'; 
    font-size: 18px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

.between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*header*/

header {
    background: #202223;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

header a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*main_screen*/

.main_screen {
    background: rgb(0, 0, 0);
    padding: 50px 0;
}

.main_screen .banner {
    box-sizing: border-box;
    border: 5px solid rgb(255, 216, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: rgb(255, 255, 255);
    max-width: 742px;
}

.main_screen .banner h1 {
    font-size: 30px;
    font-weight: 700;
    max-width: 570px;
}

.main_screen .banner .certificate {
    font-size: 18px;
}

.button {
    display:inline-block;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 216, 0);
    width: 276px;
    height: 45px;
    line-height: 45px;
}

/*advantages_screen*/

.advantages_screen {
    padding: 50px 0;
}

.advantages_screen .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.advantages_screen .certificate {
    background: red;
    width: 300px;
    height: 200px;
}

.advantages_screen .advantages {
    flex: 1;
}

.advantages_screen .caption {
    font-size: 22px;
}

.advantages_screen .caption span {
    background: #ffd800;
}

.advantages_screen .advantages_wr {
    display: flex;
    flex-wrap: wrap;
}

.advantages_screen .advantages_wr .advantage {
    box-sizing: border-box;
    width: 33.3333%;
}
.advantages_screen .advantages_wr .advantage .icon {
}
.advantages_screen .advantages_wr .advantage .text1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.advantages_screen .advantages_wr .advantage .text2 {
    font-size: 15px;
}

/*branches_screen*/

.branches_screen {
}
.branches_screen .wrapper {
}
.branches_screen .caption {
}
.branches_screen .order {
}
.branches_screen .branches {
}
.branches_screen .branch {
}
.branches_screen h2 {
}
.branches_screen a {
    display: block;
}
.branches_screen .button {
}