@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf')  format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
} 

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-BoldCondensed.woff') format('woff'), url('../fonts/Roboto-BoldCondensed.ttf')  format('truetype'), url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Condensed.woff') format('woff'), url('../fonts/Roboto-Condensed.ttf')  format('truetype'), url('../fonts/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
  font-weight: 400;
  font-style: normal;
}

body{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 15px;
	line-height:1.4;
    letter-spacing: 0.05em;
	color: rgb(0, 0, 0);
	min-width: 360px;
}

button,input,select,textarea{
    font-family: 'Roboto'; 
    font-size: 18px;
}

.wrapper {
     max-width:1200px;
     padding:0 40px;
     margin:0 auto;
}

.between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*header*/

header {
    background: #202223;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 16px 0 12px;
}

header .institut {
    margin: auto 0;
}

.phone {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*main_screen*/

.main_screen {
    background: rgb(0, 0, 0);
    padding: 100px 0;
}

.main_screen .wrapper {
    position: relative;
}

.main_screen .banner {
    box-sizing: border-box;
    border: 5px solid rgb(255, 216, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px 50px 70px;
    color: rgb(255, 255, 255);
    max-width: 742px;
}

.main_screen .banner h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    max-width: 570px;
    margin: 0;
}

.main_screen .banner .certificate {
    font-size: 18px;
    margin: 15px 0 35px;
}

.button {
    display:inline-block;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 216, 0);
    width: 276px;
    height: 45px;
    line-height: 45px;
}

.main_screen .workman1 {
    background: url(../images/workman1.png) no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    position: absolute;
    right: 145px;
    bottom: -100px;
}

.main_screen .workman2 {
    background: url(../images/workman2.png) no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    position: absolute;
    right: -53px;
    bottom: -73px;
}

/*advantages_screen*/

.advantages_screen {
    padding: 71px 0;
}

.advantages_screen .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.advantages_screen .certificate {
    background: red;
    width: 375px;
    height: 295px;
    margin: auto 0;;
}

.advantages {
    flex: 1;
    padding-left: 140px;
}

.advantages_caption {
    font-size: 22px;
    line-height: 1.6;
}

.advantages_caption a {
    background: #ffd800;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: default;
}

.advantages_wr {
    display: flex;
    flex-wrap: wrap;
    margin: 55px -30px 0;
}

.advantages_wr .advantage {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 30px;
}

.advantages_wr .advantage .icon {
    width: 110px;
    height: 110px;
    background: #ffd800;
    margin: 0 auto 20px;
}

.advantages_wr .advantage .text1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.advantages_wr .advantage .text2 {
    font-size: 15px;
    margin-top: 13px;
    line-height: 1.6;
    text-align: justify;
    letter-spacing: 0.5px;
    word-wrap: break-word;
}

/*branches_screen*/

.branches_screen {
    background: black;
    padding: 70px 0 60px;
}

.caption {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
}

.document {
    font-size: 18px;
    color: rgb(255, 216, 0);
    text-align: center;
    margin: 15px 0 20px;
}

.branches_screen .branches {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.branches_screen .branch {
    box-sizing: border-box;
    width: 33.3333%;
    padding: 20px;
}

.branches_screen .branch_wr {
    background: #ffffff;
}

.branches_screen .branch_name {
    display: flex;
    height: 75px;
    border-bottom: 1px solid #e4e4e4;
}

.branches_screen h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.333;
    padding: 0 30px;
    margin: auto 0;
    letter-spacing: 0.1px;
}

.branches_screen .links {
    padding: 25px 30px;
}

.branches_screen a {
    display: block;
    font-size: 15px;
    color: rgb(0, 101, 179);
    margin-bottom: 15px;
}

.branches_screen .button {
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: none;
    padding: 0;
    width: 100%;
    margin: 23px 0 5px;
    height: 60px;
    line-height: 60px;
}

/*form_screen*/

.form_screen .advantages {
    margin: auto 0;
    padding: 0 55px 0 25px;
}

.form_screen .form {
    background: #ffffff;
    box-sizing: border-box;
    border: 5px solid rgb(255, 216, 0);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 64px 48px;
    max-width: 425px;
    margin: -20px 0;
}

.form_screen .form .form_caption {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.3px;
    margin-bottom: 28px;
}

.form_screen .form .wpcf7-form-control-wrap {
    display: block;
    margin: 14px 0;
}

.form_screen .form .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
    height: 56px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: 10px 15px;
}

.form_screen .form input:not([type=submit]):focus {
	border: 1px solid #000082;
}

.form_screen .button {
    background: #000000;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: none;
}

/*license_screen*/

.license_screen {
    background: black;
    padding: 77px 0 91px;
}

.license_screen .carousel{
    position: relative;
    margin-top: 35px;
}

.license_screen .carousel .carousel_wr{
    overflow: hidden;
    margin: 0 -40px;
}
.license_screen .carousel .review_wrapper {
    width: 100%;
    overflow: hidden;
}

.license_screen .review_container {
    width: 100%;
}

.license_screen .carousel .long{
	width:1000%;
	-webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    -o-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
}

.license_screen .carousel .one_doc{
    padding: 0 40px;
    box-sizing: border-box;
    float: left;
    width: 2.5%;
}

.license_screen .carousel .one_doc .inner{
	width: 100%;
    background: #fff;
	padding: 6px;
    box-sizing: border-box;
}

.license_screen .carousel .one_doc .content{
	height:325px;
	background:#efefef;
}

.license_screen .carousel .control{
	position:absolute;
    width: 25px;
    height: 37px;
    top: 43%;
	cursor:pointer;
}

.license_screen .carousel .control.prev{
	left: -43px;
    background: #ffffff;
}

.license_screen .carousel .control.next{
	right: -43px;
    background: #ffffff;
}

/*contacts_screen*/

.contacts_screen {
    background: #ffd800;
    padding: 88px 0 80px;
}

.contacts_screen .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.contacts_screen .contact {
    width: 33.3333%;
}

.contacts_screen .contact .icon {
    border-radius: 50%;
    background: rgb(0, 0, 0);
    width: 68px;
    height: 68px;
    margin: 0 auto 20px;
}

.contacts_screen .contact .text1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.contacts_screen .contact .text2 {
    font-size: 18px;
    text-align: center;
}

/*map_screen*/

.map_screen {
    height: 345px;
}

/*footer*/

footer {
    background: #202223;
    padding: 15px 0;
}

footer .sitename {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .phone {
    font-size: 18px;
    font-weight: 400;
}
